/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox helped with getting squares for cards. */

body {
  background-color: gray;
  color: white;
}

header {
  margin-left: 30px;
}

h1 {
  font-size: 3em;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    line-height:30px;
}

.face {
  /*display: none;*/
}

.card {
    display: flex;
    background: blue;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    /* vw explained here: https://tutorialzine.com/2015/05/simplify-your-stylesheets-with-the-magical-css-viewport-units */
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
}
